// Define variables for your color scheme

// For example:

$blue: #469ae0;
$indigo: #6610f2;
$purple: #6f42c1;
$pink: #e83e8c;
$red: #ee5f5b;
$orange: #e67e22;
$yellow: #fdb631;
$green: #32b796;
$teal: #20c997;
$cyan: #17a2b8;
