<div class="banner">
  <h1 class="banner-title text-primary">Yet Another Rails 6 Playground Application</h1>
  <ul class="mt-5">
    <li>All assets are served from Webpacker (JS, CSS, Images)</li>
    <li>Critical CSS is extracted with PurgeCSS & inlined in the HTML</li>
    <li>...</li>
  </ul>
</div>


<div class="bg-light py-5">
  <div class="container">
    <h2 class="text-center mb-4">Our latest Products</h2>
    <div class="row">
      <%= render @products %>
    </div>
  </div>
</div>